# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
nomadctl
dist/

# Vendor directory
vendor

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# temporary to get releaser to work
test-fixtures/

# Visual Studio Code
.vscode
